<a href="/dashboard">&larr; Volver</a>
<div class="admin-title">
    <h2>Añadir Nuevo Post</h2>
</div>

<form action="/add-post" method="POST">

    <label for="title"><b>Titulo</b></label>
    <input type="text" placeholder="Post Title" name="title">

    <label for="body"><b>Contenido</b></label>
    <textarea name="body" cols="50" rows="10"></textarea>

    <input type="submit" value="Añadir" class="btn">

</form>