<header class="header">
    <a href="/" class="header_logo">Panel de Administrador</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Inicio</a>
            </li>
            <li>
                <a href="/about" class="">Acerca de</a>
            </li>
            <li>
                <a href="contact/" class="">Contacto</a>
            </li>  
        </ul>
    </nav>

    <div class="header_button">
        <a href="/logout">
            Cerrar Sesión
        </a>
    </div>
</header>